@font-face {
    font-family: 'National';
    src: url('/assets/fonts/subset-National-Black.woff2') format('woff2'),
        url('/assets/fonts/subset-National-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'America';
    src: url('/assets/fonts/subset-GTAmericaMonoTrial-Rg.woff2') format('woff2'),
        url('/assets/fonts/subset-GTAmericaMonoTrial-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
}
body {
    background-color: #363636;
}

a{
    color: white;
    font-family: "America";
    font-size: 12px;
}

/*--------------------------A BLOCK STARTS-----------------------------*/

.a {
    display: flex;
    height: 66px;
    padding: 10px;
}

.top-left {
    height: 66px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2D2D;
    border-radius: 10px;
    font-family: "national";
    font-size: 40px;
    color: white;
}

.top-right {
    display: flex;
    height: 66px;
    width: 100%;
    background-color: #2D2D2D;
    border-radius: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: space-around;
    font-family: "Poetsen One", sans-serif;
    font-size: 15px;
    color: white;
}

.button {
    background-color: #696969;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-family: "America";
    font-size: 12px;
}
/*--------------------------A BLOCK ENDS-----------------------------*/

/*------------------B BLOCK STARTS---------------*/
.b {
    display: flex;
    height: 650px;
    padding: 0px 10px 0px 10px;
}

.second-left {
    height: 100%;
    width: 50%;
    background-color: #2D2D2D;
    border-radius: 10px;
}

.second-right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.second-right-top {
    background-color: #2D2D2D;
    display: flex;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;
}

.second-right-bottom{
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.second-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro1{
    font-family: "DM Sans";
    font-size: 12px;
    color: white;
    width: 40%;
    height: auto;
}

/*-------------------------B BLOCK ENDS-------------------*/


/*---------------------------C BLOCK------------------------*/
.c {
    display: flex;
    height: 300px;
    padding: 10px;
}

.third-left {
    height: 100%;
    width: 60%;
    background-color: #2D2D2D;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-third-text{
    width: 30%;
    font-family: "DM Sans";
    font-size: 12px;
    color: white;

}


.third-right {
    height: 100%px;
    width: 40%;
    background-color: #2D2D2D;
    border-radius: 10px;
    margin-left: 10px;
    font-family: "Poetsen One", sans-serif;
    display: flex;
    align-items: center;
    color: white;
}

.third-right-image{
    display: flex;
    justify-content: center;
    position: relative;
    transition: scale 0.9s;
}

.image{
    width: 40%;
    height: auto;
}

.third-right-text{
    position: absolute;
    top: 40%;
    left: 42%;
    color: #4a4a4a;
}

.third-right-image:hover{
    scale: 1.05;
}


/*------------C BLOC ENDS--------------*/

/*------------D BLOCK------------------*/
.d {
    display: flex;
    height: 505px;
    padding: 0px 10px 0px 10px;
}

.about-left, .about-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #2D2D2D;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
}

.volunteering-title, .experience-title{
    margin-top: 30px;
    font-size: 30px;
    font-family: "National";
    color: white;
}

.volunteering-content, .experience-content{
    width: 60%;
    font-size: 14px;
    font-family: "DM Sans";
    color: white;
    margin-top: 40px;
}

a, .same-format{
    font-size: 14px;
    font-family: "DM Sans";
    color: white;
}

.about-right {
    height: 100%;
    width: 50%;
    background-color: #2D2D2D;
    border-radius: 10px;
    margin-left: 10px;
}
/*------------D BLOCK ENDS------------------*/

/*------------H BLOCK------------------*/
.h {
    height: 188px;
    background-color: #2D2D2D;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    
}


.header-title{
    padding: 20px;
    font-family: "National";
    color: white;
    font-size: 30px ;
}

.header-content{
    padding: 20px;
    font-family: "America";
    color: white;
    font-size: 12px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.contact-details{
    margin: 50;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
}


.icons{
    width: fit-content;
    display: flex;    
}


/*------------H BLOCK ENDS------------------*/